<h1> Welcome to the INDEX. STUDENT Page</h1>

<h3>Have you gone through all the steps on the Learn How to Program debugging lesson? </h3>

<h3>Have you asked another pair for help?</h3>

<h3>Have you spent 15 minutes going through the problem documenting every step?</h3>

{{new-question save="save"}}
